* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#aviso {
    padding-left: 1vw;
    background-color: #f00;
    color: #fff;
}

#aviso p {
    font-size: 2em;
}

.game-board {
    width: 100vw;
    height: 97vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

#tempo {
    margin-left: 1vw;
    color: #007905;
    font-size: 2vh;
    font-family: 'VT323', monospace;
}

#returnGame {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 115vh;
    font-size: 1.5vh;
    font-family: 'VT323', monospace;
    color: rgba(0, 0, 0, 0.6);
    animation: appear 1s;
}

.pipe {
    width: 80px;
    bottom: 0;
    position: absolute;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    bottom: 0;
    position: absolute;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    width: 50vw;
    bottom: 40vh;
    position: absolute;
    animation: clouds-animation 15s infinite linear;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

p {
    font-family: 'Alkatra', cursive;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: #007905;
}

a:hover {
    color: #53ff31;
}


h1::selection, h2::selection, span::selection, p::selection, a::selection, img::selection {
    color: #0037d6;
    background-color: #e80000;
}

@media (min-width: 768px) {
    #aviso {
        display: none;
    }

    #tempo {
        font-size: 2vw;
    }

    #returnGame {
        font-size: 1.5vw;
    }
}

@keyframes pipe-animation {
    
    from {
        right: -20vw;
    }

    to {
        right: 100vw;
    }

}

@keyframes jump {
    
    0% {
        bottom: 0;
    }

    40% {
        bottom: 220px;
    }

    50% {
        bottom: 220px;
    }

    60% {
        bottom: 220px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -50vw;
    }

    to {
        right: 100vw;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}